@font-face {
    font-family: 'luckiestGuy';
    src: url('../fonts/LuckiestGuy-Regular.ttf');
    font-weight: bold;
    font-style: normal
}

body {
    margin: 0;
    font-family: luckiestGuy;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #398AB9 66.667%, #398AB9 33.333%);
}

.container>section {
    position: absolute;
    height: calc(100% - 101px);
    width: 65%;
    margin: 50px 100px;
    border-radius: 150px;
    border: solid black .5px;
    background: rgb(253, 253, 253, .90);
    -webkit-box-shadow: 12px 0px 3px 3px rgb(13, 148, 72, .75);
    -moz-box-shadow: 12px 0px 3px 3px rgb(13, 148, 72, .75);
    box-shadow: 12px 0px 3px 3px rgb(13, 148, 72, .75);
}

.container>section header,
.winner-first-block {
    width: 75%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.container>section .reset {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url('../images/reset.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    align-self: center;
    cursor: pointer;
}

.container>section h1,
.container>section>section {
    align-self: center;
}

.container>section h1 {
    display: inline-block;
    letter-spacing: 1px;
}

.container>section>section {
    width: 90%;
    margin: 0 auto;
}

ul#cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul#cards-container li.card {
    list-style: none;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    flex-grow: 0;
    margin: 10px;
}

ul#cards-container li.closed,
.play-again button {
    background: #398AB9;
    -webkit-box-shadow: inset 4.5px 4.5px 0px -2px #03045E;
    -moz-box-shadow: inset 4.5px 4.5px 0px -2px #03045E;
    box-shadow: inset 4.5px 4.5px 0px -2px #03045E;
    cursor: pointer;
}

ul#cards-container li.open {
    box-shadow: none;
    cursor: default;
}

.container>section>.monitor {
    width: calc(90% - 20px);
    margin-top: 15px;
    display: flex;
    flex-flow: row nowrap;

}

.monitor>div {
    flex-grow: 1;
    text-align: center;
}

.monitor>div>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.monitor>div .heart {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/heart.png') no-repeat;
    background-size: contain;
}

.monitor>div .move {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../images/move.png') no-repeat;
    background-size: contain;
}

.monitor>div .move-counter,
.monitor>div .time-counter {
    display: inline-block;
    margin: 0;
    vertical-align: super;
    position: relative;
    left: 5px;
}

.monitor>div .timer {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../images/timer.png') no-repeat;
    background-size: contain;
}

.winner-first-block {
    flex-flow: wrap column;
    align-items: center;
    height: calc(100% - 90px);
}

.winner-icon {
    display: block;
    width: 125px;
    height: 125px;
    margin: 25px 0;
    background: url('../images/rocket.png') no-repeat;
    background-size: contain;
    animation-iteration-count: 1;
}

.winner-text {
    display: block;
    text-align: center;
}

.container>section div.winner-text h1 {
    display: block;
    margin: 0;
    font-size: 20px;
    color: #03045E;
}

.container>section div.winner-text p {
    font-size: 18px;
    margin-top: 25px;
}

.winner-movements,
.winner-hearts,
.winner-time {
    color: #03045E;
}

.play-again {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 50px;
}

.play-again button {
    border: none;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.play-again button:focus {
    outline: none;
}

.disappear {
    display: none;
}



@media screen and (max-width:599px) {
    .container>section {
        width: 95%;
        height: auto;
        margin: 25px 10px;
        border-radius: 50px;
    }

    .container>section header,
    .winner-first-block {
        width: 85%;
    }

    ul#cards-container li.card {
        width: 75px;
        height: 75px;
    }

    .container>section>.monitor {
        margin-bottom: 15px;
    }

    .winner-screen {
        top: 50%;
        transform: translateY(-50%);
        height: 75%;
    }
}